.check-box {
    height: 200px;
    width: 200px;
    background-color: rgb(61, 58, 58);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

@media screen and (max-width: 338px) {
    .check-box {
        height: 36%;
        width: 80%;
    }
}

.check {
    font-size: 100px;
    color: rgb(229, 236, 229);
}

.spiner {
    height: 150px;
    width: 150px;
    border: 4px solid rgb(137, 255, 145);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 1s linear paused;
}

.check-block {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(61, 58, 58);
    height: 100px;
    width: 100px;
    animation: unblock-check 0.5s paused;
    width: 0px;
}

@keyframes unblock-check {
    0% {
        width: 100px;
    }
    100% {
        width: 0px;
        left: 70%;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        border-top: 4px solid transparent;
    }
    100% {
        transform: rotate(360deg);
    }
}