@import "../more/globalStyle";
.box {
    @include center(1);
    background-color: #78b9eb;
    width: 100vw;
    text-align: center;
}

.btn {
    height: 150px;
    width: 300px;
    margin: 20px;
    font-size: 40px;
    text-align: center;
    padding: 10;
    cursor: pointer;
}

@media screen and (max-width: 344px) {
    .btn {
        transform: scale(0.8);
        margin: 0px;
    }
}

.p {
    position: relative;
    z-index: 10;
    padding: 0;
    color: #fff;
}

@mixin before {
    content: '';
    position: absolute;
    left: -8%;
    top: 26%;
    //background: linear-gradient(to right, #f87c7c, #8affde, #77a0ff);
    height: 60%;
    width: 120%;
    animation: spin 2s infinite linear;
    //box-shadow: 0 0 60px 10px #f64646;
}

@mixin after {
    content: '';
    position: absolute;
    inset: 4px;
    background-color: rgb(33, 33, 33);
    border-radius: 10px;
}

.share {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(33, 33, 33);
    border: none;
    //box-shadow: 0 0 60px 10px #5e5c5c;
    transition: 0.4s;
}

.receive {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(33, 33, 33);
    border: none;
    //box-shadow: 0 0 60px 10px #5e5c5c;
    transition: 0.4s;
}

.share-active {
    transform: scale(0.5);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(33, 33, 33);
    border: none;
    box-shadow: 0 0 60px 10px #5e5c5c;
    transition: 0.2s;
}

.receive-active {
    transform: scale(0.5);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(33, 33, 33);
    border: none;
    box-shadow: 0 0 60px 10px #5e5c5c;
    transition: 0.2s;
}

.share::before {
    @include before;
    background-color: #67f678;
    background: linear-gradient(to right, #67f678, #78b9eb);
}

.receive::before {
    @include before;
    background-color: #f64646;
    background: linear-gradient(to right, #f6e167, #f64646);
}

.share::after {
    @include after;
}

.receive::after {
    @include after;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}