@import "../more/globalStyle";
.box {
    height: 500px;
    width: 800px;
    @include center(1);
    //@include glassy-box-white(4px, 0.4);
}

.title {
    text-align: center;
    color: #fff;
}

.display-box {
    height: 80%;
    width: 90%;
    background-color: rgb(33, 33, 33);
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    overflow: hidden;
}

.display-box::before {
    content: '';
    position: absolute;
    left: -40%;
    top: 26%;
    background: linear-gradient(to right, #f87c7c, #8affde, #77a0ff);
    height: 60%;
    width: 200%;
    animation: spin 2s infinite linear;
    //box-shadow: 0 0 60px 10px #f64646;
}

@media screen and (max-width: 351px) {
    .display-box::before {
        opacity: 0;
    }
}

.display-box::after {
    content: '';
    position: absolute;
    inset: 4px;
    background-color: rgb(33, 33, 33);
    border-radius: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: card-animation 2s infinite;
    transition: 0.3s;
    color: #fff;
    text-align: center;
    z-index: 1;
}

@keyframes card-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 949px) {
    .box {
        height: 70vh;
        width: 80vw;
    }
}

@media screen and (max-width: 672px) {
    .box {
        height: 70vh;
        width: 90vw;
    }
}

@media screen and (max-width: 402px) {
    .title {
        font-size: 24px;
        margin-top: 30px;
    }
}