@import "../more/globalStyle";
.box {
    height: 400px;
    width: 500px;
    @include center(1);
    @include glassy-box-black(4px, 0.4);
    transition: 0.3s;
}

.hide-box {
    height: 400px;
    width: 500px;
    @include center(0);
    @include glassy-box-black(4px, 0.4);
    transition: 0.3s;
}

@media screen and (max-width: 535px) {
    .box {
        width: 80vw;
        height: 50vh;
    }
}

@mixin icon {
    height: 80%;
    width: 80%;
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    color: #fff;
    cursor: pointer;
    transition: 0.3s
}

.icon {
    @include icon;
}

.icon-active {
    @include icon;
    transform: translate(-50%, -50%) scale(0.5);
}

@mixin btn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    font-size: 30px;
    background-color: #b1c9f8;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    width: 80%;
    transition: 0.2s;
    border: 2px solid #b1c9f8;
    background-color: transparent;
    overflow: hidden;
    background-color: rgb(255, 255, 255, 0.6);
    //background: linear-gradient(to right, #f9a8a8, #fdf29b, #98d2fc);
}

.btn {
    @include btn;
}

.btn-active {
    @include btn;
    //background: linear-gradient(to right, #98d2fc, #f9a8a8, #fdf29b);
    transform: translate(-50%, -90%) scale(0.6);
    background-color: rgb(255, 255, 255, 0.2);
}

@media screen and (max-width: 346px) {
    .btn {
        font-size: 20px;
    }
}

.input {
    display: none;
}

.display {
    height: 60%;
    width: 60%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.display-img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
}