@import "../more/globalStyle";
.box {
    height: 80vh;
    width: 48%;
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translate(0%, -50%);
    @include glassy-box-black(4px, 0.4);
}

@media screen and (max-width: 757px) {
    .box {
        @include center(1);
        @include glassy-box-black(2px, 0.4);
        width: 80vw;
        height: 80vh;
    }
}

@mixin icon {
    height: 80%;
    width: 80%;
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    color: #fff;
    cursor: pointer;
    transition: 0.3s
}

.icon {
    @include icon;
}

.icon-active {
    @include icon;
    transform: translate(-50%, -50%) scale(0.5);
}

@mixin btn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    font-size: 30px;
    background-color: #b1c9f8;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width: 80%;
    transition: 0.2s;
    border: 2px solid #b1c9f8;
}

.btn {
    @include btn;
}

.btn-active {
    @include btn;
    background-color: transparent;
    transform: translate(-50%, -90%) scale(1.2);
}

@media screen and (max-width: 346px) {
    .btn {
        font-size: 20px;
    }
}

@media screen and (max-width: 384px) {
    .box {
        height: 60%;
    }
}

input {
    display: none;
}